<div class = "fullBodyWrap">
	<div class = "websiteTitle">
		<h3>Retrieving your Incident Report</h3>
		<p>All information is required unless it's listed as optional</p>
	</div>
	
	<form class = "inputsWrap" data-toggle="validator" role="form" action="http://127.0.0.1:5000/getclaim" method="post">
	  <div class = "searchData">
		<p class = "sectionHeader">Enter any two of the following fields in order to search for your claim.</p>
		<div class = "inputRow">
						<div class="form-group has-feedback">
						<div class="inputGrouping">
								<label for="HorizSelectAlt" class="control-label select-label">Category of Claim</label>
							  <div class="select-container">
								<select id="HorizSelectAlt" name="HorizSelectAlt" class="form-control" required>
								  <option value="">Please Select</option>
								  <option value="first">Bodily Injury Liability</option>
								  <option value="second">Medical Payments or Personal Injury Protection (PIP)</option>
								  <option value="third">Property Damage Liability</option>
								  <option value="fourth">Collision</option>
										<option value="fifth">Comprehensive</option>
										<option value="sixth">Uninsured and Underinsured Motorist Coverage</option>
								</select>
								<span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
							  </div>
						  </div>
						</div>
		</div>
		<div class = "inputRow">
			<div class="inputGrouping">
				<div class="form-group has-feedback rowItem">
					<label for="policyNumber" class="control-label">Policy Number</label>
					<input id="policyNumberSearch" type="text" pattern="^[A-Z]{2}-[0-9]{8}$" class="form-control" placeholder="XX-########" data-error="Please enter your policy number." name="policyNumber" aria-required="true" required/> 
					<span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
				</div>
			</div> 
		</div>
		<div class = "inputRow">
		  <div class="inputGrouping">
			<div class="form-group has-feedback rowItem">
			  <label for="locationOfLoss" class="control-label">Location of Loss (Approximate Street Address)</label>
			  <input id="locationOfLossSearch" type="text" class="form-control" name="locationOfLoss" data-error="Please enter an approximate address for where the incident occured." aria-required="true" required/> 
			  <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
			</div>
		  </div>
		  <div class="inputGrouping">
			<div class="form-group has-feedback disabled">
			  <label for="coordinates" class="control-label">Location in Longtitude, Latitude Coordinates:</label>
			  <input id="coordinatesOutput" type="text" class="form-control" name="coordinates" data-error="Please enter your name." disabled aria-required="false"/> 
			  <span class="icon icon-attention form-control-feedback" aria-hidden="true" disabled ></span><div class="help-block with-errors"></div>
			</div>
		  </div>
		</div>
		<div class = "inputRow">
		  <div class="inputGrouping">
			<div class="form-group has-feedback">
			  <label for="comment">Description of Incident</label>
			  <textarea id = "incidentDescriptionInput" class="form-control" maxlength="250" rows="5" cols="50" id="comment" aria-required="true" required></textarea><small class="textarea-character-limit"></small>
			  <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
			</div>
		  </div>
		</div>
		<div class="submit">
				  <button class="btn btn-secondary btn-block btn-border" onclick="showResults()">
						  <span>Submit</span>
						</button>
				  </div>
				</div>
				<div class="row card result" id="claimSearchResults">
				  <h3>Results</h3>
				  <div class="content">
					<table class="table">
					  <thead>
						<tr>
						  <th scope="col" class="col-xs-3">Category of Injury <i class="icon icon-caret-up-alt" aria-hidden="true"></i> </th>
						  <th scope="col" class="col-xs-3">Policy Number</th>
						  <th scope="col" class="col-xs-3">Location</th>
									<th scope="col" class="col-xs-3">Description</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>Category</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>XX-########</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>1 Hartford Street</td>
									<td><span class="data-prefix-xs xs-prefix-vertical"></span>An accident involving two automobiles happened at this location.</td>
						</tr>
						<tr>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>Category</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>XX-########</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>1 Hartford Street</td>
									<td><span class="data-prefix-xs xs-prefix-vertical"></span>An accident involving two automobiles happened at this location.</td>
						</tr>
						<tr>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>Category</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>XX-########</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>1 Hartford Street</td>
									<td><span class="data-prefix-xs xs-prefix-vertical"></span>An accident involving two automobiles happened at this location.</td>
						</tr>
						<tr>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>Category</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>XX-########</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>1 Hartford Street</td>
									<td><span class="data-prefix-xs xs-prefix-vertical"></span>An accident involving two automobiles happened at this location.</td>
						</tr>
						<tr class="sample-table-collapse collapse">
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>Category</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>XX-########</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>1 Hartford Street</td>
									<td><span class="data-prefix-xs xs-prefix-vertical"></span>An accident involving two automobiles happened at this location.</td>
						</tr>
						<tr class="sample-table-collapse collapse">
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>Category</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>XX-########</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>1 Hartford Street</td>
									<td><span class="data-prefix-xs xs-prefix-vertical"></span>An accident involving two automobiles happened at this location.</td>
						</tr>
						<tr class="sample-table-collapse collapse">
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>Category</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>XX-########</td>
						  <td><span class="data-prefix-xs xs-prefix-vertical"></span>1 Hartford Street</td>
									<td><span class="data-prefix-xs xs-prefix-vertical"></span>An accident involving two automobiles happened at this location.</td>
						</tr>
					  </tbody>
					</table>
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-target=".sample-table-collapse" href="#" onclick="event.preventDefault()">
					  <div class="content-align">
						<span class="content-table-span"></span>
					  </div>
					</a>
				  </div>
				</div>
	</form>
</div>