<header>
  <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i class="icon icon-menu"></i>
          </button>
          <a class="navbar-brand" routerLink="index.html">
            <img src="https://ts0.hfdstatic.com/sites/higux/v3.3.44/images/logo.svg" alt="The Hartford">
          </a>
        </div>
      </div>
    </div>
    <div class="navbar navbar-default collapse navbar-collapse" id="navBar"> <!-- header-->
      <div class="navbar-primary" id="primaryNav">
        <div class="container">
          <div class="row">
            <ul class="nav navbar-nav navbar-left">
              <button type="button" class="navbar-toggle-close collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon icon-close"></i>
              </button>
              <li class="dropdown">
                <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employer/Sponsor View
                  <i class="icon icon-users"></i>
                  <i class="icon icon-double-caret"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="#">First Link Employer View</a>
                  </li>
                  <li>
                    <a routerLink="#">Second Link Sponsor View</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a routerLink="#">Separated link</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-icons navbar-right">
              <li>
                <a routerLink="#">
                  <i class="icon icon-notifications">
                    <span class="badge">24</span>
                  </i>
                  <span>Alerts</span>
                </a>
              </li>
              <li class="hidden-sm hidden-xs">
                <a routerLink="#">
                  <i class="icon icon-questions"></i>
                  <span>Help</span>
                </a>
              </li>
              <li class="dropdown hidden-sm hidden-xs">
                <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="icon icon-my-account">
                    <span class="sr-only">My Account</span>
                  </i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="#">User Login</a>
                  </li>
                  <li>
                    <a routerLink="#">Account Information</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-secondary" id="secondaryNav">
        <div class="container">
          <div class="row">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="icon icon-dashboard"></i>
                  <span>Dashboard</span>
                </a>
                <div class="dropdown-menu">
                  <div class="mega-menu">
                    <div class="col-md-6 mega-menu-left">
                      <h3>Heading</h3>
                      <ul>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 mega-menu-right">
                      <h3>Heading</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <img src="http://via.placeholder.com/350x200" alt="play video" class="img-responsive">
                      <ul>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="icon icon-document"></i>
                  <span>Claims (3)</span>
                </a>
                <div class="dropdown-menu">
                  <div class="mega-menu">
                    <div class="col-md-6 mega-menu-left">
                      <h3>Heading</h3>
                      <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/add-claim">Add Claim</a></li>
                        <li><a routerLink="/get-claim">Get Claim</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 mega-menu-right">
                      <h3>Heading</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <img src="http://via.placeholder.com/350x200" alt="play video" class="img-responsive">
                      <ul>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                        <li><a routerLink="#">Lorem ipsum dolor amit</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a routerLink="#">
                  <i class="icon icon-benefits"></i>
                  <span>Benefits</span>
                </a>
              </li>
              <li>
                <a routerLink="#">
                  <i class="icon icon-folder"></i>
                  <span>Documents</span>
                </a>
              </li>
              <li>
                <a routerLink="#">
                  <i class="icon icon-billing"></i>
                  <span>Billing</span>
                </a>
              </li>
              <li class="visible-xs visible-sm">
                <a routerLink="#">
                  <i class="icon icon-my-account"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li class="visible-xs visible-sm">
                <a routerLink="#">
                  <i class="icon icon-questions"></i>
                  <span>Help</span>
                </a>
              </li>
            </ul>
            <div class="mobile-logout">
              <a routerLink="#">
                <button class="btn btn-secondary-paired btn-block">Logout</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>