<div class = "fullBodyWrap">
    <div class = "websiteTitle">
        <p>Filing your Incident Report</p>
       </div>
    <form action="http://127.0.0.1:5000/addclaim" method="post">
    <div class = "inputsWrap">
      <div class = "policyHolderContactInfo">
        <p class = "sectionHeader">Policyholder Contact Info</p>
        <div class = "inputRow">
            <div class="inputGrouping">
              <div class="form-group has-feedback rowItem">
                <label for="firstname" class="control-label">First Name</label>
                <input id="firstname" type="text" class="form-control" name="firstname" data-error="Please enter your first name." aria-required="true" required/> 
                <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
              </div>                  
            </div>
            <div class="inputGrouping">
              <div class="form-group has-feedback rowItem">
                <label for="lastname" class="control-label">Last Name</label>
                <input id="lastname" type="text" class="form-control" name="lastname" data-error="Please enter your last name." aria-required="true" required/> 
                <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
              </div>                  
            </div>
        </div>
        <div class="inputRow">
          <div class="inputGrouping">
            <div class="form-group has-feedback rowItem">
              <label for="phonenumber" class="control-label">Phone number (optional)</label>
              <input id="phonenumber" type="tel" class="form-control phone" name="phonenumber" pattern="^[2-9]\d{2}-\d{3}-\d{4}$" placeholder="xxx-xxx-xxxx" data-error="That doesn't look quite right. Please enter your phone number in this format: xxx-xxx-xxxx." aria-required="false"/>
              <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
            </div>                   
          </div>
          <div class="inputGrouping">
            <div class="form-group has-feedback">
              <label for="email" class="control-label">Email</label>
              <input id="email" type="email" class="form-control" name="email" pattern=".*@\w{2,}\.\w{2,}.*" data-error="That doesn’t look quite right. Please enter your email in this format: name@domain.com." aria-required="true" required/>
              <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class = "inputRow">
            <div class="inputGrouping">
              <div class="form-group has-feedback rowItem">
                <label for="streetAddress" class="control-label">Street Address:</label>
                <input id="pholderstreetaddress" type="text" class="form-control" name="pholderstreetaddress" data-error="Please enter your first name." aria-required="true" required/> 
                <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
              </div>                  
            </div>
            <div class="inputGrouping">
              <div class="form-group has-feedback rowItem">
                <label for="city" class="control-label">Town/City:</label>
                <input id="pholdertown" type="text" class="form-control" name="pholdertown" data-error="Please enter your town or city." aria-required="true" required/> 
                <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
              </div>                 
            </div>
            <div class="inputGrouping">
              <div class="form-group has-feedback">
                <label for="zip" class="control-label">ZIP Code</label>
                <input id="pholderzip" type="text" class="form-control zip" name="pholderzip" minlength="5" maxlength="10" placeholder="00000 or 00000-0000" pattern="(\d{5}([\-]\d{4})?)" data-error="Please enter your zip code." aria-required="true" required/>
                <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
              </div>                                  
            </div>
        </div>
      </div>
      <div class = "claimData">
        <p class = "sectionHeader">Incident Report / Claim Data</p>
        <div class = "inputRow">
          <div class="inputGrouping">
            <fieldset class="form-group">
              <legend class="radio-checkbox-title radio-checkbox-title-horizontal">Category of Claim</legend>
              <div>
                <label class="radio-inline">
              Category: <input type="radio" class="form-control" value="Bodily Injury Liability" name="category" data-error="Please check one option" required>
              <span>Bodily Injury Liability</span>
            </label>
            
                <label class="radio-inline">
              Category: <input type="radio" class="form-control" value="Medical Payments or Personal Injury Protection (PIP)" name="category" data-error="Please check one option" required>
              <span>Medical Payments or Personal Injury Protection (PIP)</span>
            </label>
            
                <label class="radio-inline">
              Category: <input type="radio" class="form-control" value="Property Damage Liability" name="category" data-error="Please check one option" required>
              <span>Property Damage Liability</span>
            </label>
              </div>
              <div>
                <label class="radio-inline">
              Category: <input type="radio" class="form-control" value="Collision" name="category" data-error="Please check one option" required>
              <span>Collision</span>
            </label>
            
                <label class="radio-inline">
              Category: <input type="radio" class="form-control" value="Comprehensive" name="category" data-error="Please check one option" required>
              <span>Comprehensive</span>
            </label>
            
                <label class="radio-inline">
              Category: <input type="radio" class="form-control" value="Uninsured and Underinsured Motorist Coverage" name="category" data-error="Please check one option" required>
              <span>Uninsured and Underinsured Motorist Coverage</span>
            </label>
              
              </div>
              <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
            </fieldset>
          </div>
          <div class="inputGrouping">
            <div class="form-group has-feedback rowItem">
              <label for="fName" class="control-label">Policy Number</label>
              Policynumber: <input id="fName" type="text" class="form-control" name="policynumber" data-error="Please enter your first name." aria-required="true" required/> 
              <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
            </div>
          </div>
        </div> 
        <div class = "inputRow">
          <div class="inputGrouping">
            <div class="form-group has-feedback rowItem">
              <label for="fName" class="control-label">Location of Loss (Approximate Street Address)</label>
              Location: <input id="fName" type="text" class="form-control" name="location" data-error="Please enter your first name." aria-required="true" required/> 
              <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="inputGrouping">
            <div class="form-group has-feedback disabled">
              <label for="name" class="control-label">Location in Longtitude, Latitude Coordinates:</label>
              <input id="name" type="text" class="form-control" name="latlong" data-error="Please enter your name." disabled aria-required="false"/> 
              <span class="icon icon-attention form-control-feedback" aria-hidden="true" disabled ></span><div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class = "inputRow">
          <div class="inputGrouping">
          	Description: <input name="description" type="text" /> <br />
          	<!--
            <div class="form-group has-feedback">
              <label for="comment">Description of Incident</label>
              <textarea class="form-control" maxlength="250" rows="5" id="comment" aria-required="true" required></textarea><small class="textarea-character-limit"></small>
              <span class="icon icon-attention form-control-feedback" aria-hidden="true"></span><div class="help-block with-errors"></div>
            </div>
        	-->
          </div>
        </div> 
        <input type="submit" />
      </div>
    </div>
    </form>
  </div>