*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F7F7F7;
}
.fullBodyWrap{
    padding-bottom: 44px;
}
.sectionHeader{
text-align: center;
}

.headerBar{
    background-color: #B6D3E9;
}

.websiteTitle{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #ffffff;
		margin: auto;
		margin-bottom: 20px;
		width: 500px;
		border: 3px solid #3A5A78;

}

.policyHolderContactInfo{
    padding: 20px;
}

.row{
    display: flex;
}
.rowItem{
    padding-left: 20px;
    padding-right: 20px;    
}

.inputGrouping{
    display: inline-block;
		padding-left: 20px;
    padding-right: 20px;    

}

.inputRow{
    display: auto;
    text-align: center;
    padding-top: 20px;

}

.inputsWrap{
    display: inline;
}

.submit{
  	margin: auto;
		margin-bottom: 40px;
		width: 50%;
}

.result {
  margin: auto;
	text-align: center;
  width: 70%;
  border: 3px solid #3A5A78;
  padding-top: 20px;
	display: none;
}
