<div class="container">
    <div id="hig-carousel" class="carousel slide" data-ride="carousel">
        <div class="container">
        <ol class="carousel-indicators">
            <li data-target="#hig-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#hig-carousel" data-slide-to="1"></li>
            <li data-target="#hig-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
            <div class="item-inner">
                <section class="text-center">
                <h4>Why Do Business with the hartford?</h4>
                <div>The Hartford has been helping AARP members tailor insurance to their unique needs for more than 30 years.</div>
                </section>
            </div>
            </div>

            <div class="item">
            <div class="item-inner">
                <section class="text-center">
                <h4>Why Do Business with the hartford?</h4>
                <div>The Hartford has been helping AARP members tailor insurance to their unique needs for more than 30 years.</div>
                </section>
            </div>
            </div>

            <div class="item">
            <div class="item-inner">
                <section class="text-center">
                <h4>Why Do Business with the hartford?</h4>
                <div>The Hartford has been helping AARP members tailor insurance to their unique needs for more than 30 years.</div>
                </section>
            </div>
            </div>
        </div>

        <a class="left carousel-control" href="#hig-carousel" data-slide="prev">
        <i class="icon icon-carousel-left"></i>
        </a>
        <a class="right carousel-control" href="#hig-carousel" data-slide="next">
        <i class="icon icon-carousel-right"></i>
        </a>
        </div>
    </div>
</div>
<div class="container">
    <div class = "row card">
        <div class = "col-md-12">
            <div class="disclaimer">
                <h1 class="body-copy">Disclaimer Body Copy</h1>
                <p class="disclaimer-content">
                    Your Privacy is important to us. We order third party data reports relating to credit, driving record, vehicle and loss history and prior insurance to pre-fill informatoin, determine eligibility and price for our insurance products. Please review our <a href=#>Notice of Information</a> and <a href="#">Privacy Policy</a>.
                </p>
            </div>
        </div>
    </div>
</div>